#chart {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#chart rect {
  fill: steelblue;
}

#chart2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#chart2 rect {
  fill: red;
}

